.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 16px;
}

.inlineLabel {
  margin-right: 8px;
}

.tab {
  color: #d81e05;
  border-bottom: 2px solid #eee;
  cursor: pointer;
  padding-bottom: 2px;
  margin-right: 8px;
}

.tab.activeTab {
  border-bottom: 2px solid #d81e05;
}