.leftBar {
  opacity: 0.9;
  background: #1e1e1e;
  width: 72px;
  height: 100%;
  color: #eee;
  text-align: center;
  position: fixed;
}

.leftBarItem {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 0 8px 0;
  box-sizing: border-box;
  border-left: 4px solid #1e1e1e;
}

.leftBarItem:hover {
  border-left: 4px solid #464646;
  background: #464646;
}

.leftBarItem.activeItem {
  border-left: 4px solid #d81e05;
  background: #464646;
}

.leftBarIcon {
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-bottom: 6px;
}