.notificationReceiverCard {
  width: 288px;
  box-sizing: border-box;
}

.notificationInput {
  margin-top: 4px;
  width: 100%;
}

.inputError {
  display: block;
  font-size: 14px;
  height: 14px;
  color: #d81e05;
  margin: 4px 0 8px 0;
}

.checkboxLabel {
  margin-right: 16px;
}