.alertsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 16px;
}

.detailsCard {
  width: 286px;
}

.leftAlerts {
  display: flex;
  flex-wrap: wrap;
  width: 608px;
}

.currentAlerts {
  width: 592px;
}

.disableButton {
  margin-left: 8px;
}

.editButton {
  margin-left: 31px;
}

.createButton {
  margin-left: 32px;
}

.removeButton {
  float: right;
}

.events {
  margin: 16px -16px 0 -16px;
  width: calc(100% + 32px);
}

.eventsHead th {
  color: #d81e05;
  text-align: left;
  vertical-align: middle;
}

.eventsHead th:first-child, .eventsRow td:first-child {
  padding-left: 16px;
}

.eventsHead th:last-child, .eventsRow td:last-child {
  padding-right: 16px;
}

th.tableAlignRight, .tableAlignRight {
  text-align: right;
}

.eventsRow td {
  height: 35px;
  vertical-align: middle;
}

.eventLimit {
  font-size: 12px;
}

.eventsRow.disabled {
  opacity: 0.5;
}

.eventsRow.checked {
  background: #d81e05;
  color: #fff;
}

.tabsLabel {
  margin-bottom: 4px;
}

.alertCheckboxLabel {
  display: block;
}