.subCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 0 -16px;
  padding: 8px 16px;
}

.subCardTitle h2 {
  font-size: 14px;
  font-family: SegoeUIBold, sans-serif;
}

.toggleTabs {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.subCardBody {
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.subCardBodyHide {
  animation-name: slideUp;
  animation-duration: 0.5s;
}

.subCardBodyShow {
  animation-name: slideDown;
  animation-duration: 0.5s;
}

.subCardBodyHidden {
  display: none;
}

@keyframes slideUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}