.app {
  font-family: SegoeUiRegular, sans-serif;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.appContent {
  height: calc(100% - 48px);
  display: flex;
  margin-top: 48px;
}

.rightContent {
  margin-left: 72px;
}

.contentTitle {
  font-family: SegoeUIBold, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin: 16px 0 0 16px;
  color: #eeeeee;
}

.buttonStyle {
  background: rgba(255, 255, 255, 0.50);
  border: 1px solid #757575;
  color: #212121;
  padding: 3px 6px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  font-family: SegoeUiRegular, sans-serif;
}

.buttonStyle:hover {
  color: #d81e05;
  border-color: #d81e05;
}

.disabledButton {
  background:rgba(255,255,255,0.50);
  border:1px solid #666666;
  color: rgba(33, 33, 33, 0.65);
  opacity: 0.5;
  cursor: not-allowed;
}

.inputStyle {
  border: 1px solid rgba(0, 0, 0, 0.50);
  outline: none;
  background: #fff;
  font-size: 14px;
  padding: 6px 8px;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.selectStyle {
  background: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.20);
  width: 100%;
  padding: 6px;
  margin: 4px 0 16px 0;
  font-family: SegoeUiRegular;
  outline: none;
  background-image: linear-gradient(45deg, transparent 50%, #bbbbbb 50%), linear-gradient(135deg, #bbbbbb 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(12px), calc(100% - 15px) calc(12px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.notTopMargin {
  margin-top: 0;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  content: ' ';
  border: 1px solid #666666;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
  border-color: #fff;
  content: '\2714';
  color: #fff;
}

input::placeholder {
  color: #999999;
  font-fanily: SegoeUiRegular;
}