.notificationReceiver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -16px;
  padding: 6px 16px;
}

.receiverInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkReceiver {
  margin-right: 16px;
}

.checkedReceiver {
  background: #d81e05;
  color: #fff;
}

.saveButton {
  margin: 26px 0 16px 0;
  padding: 3px 16px !important;
}

.fireDate {
  margin-top: 10px;
  margin-bottom: 20px;
}

.deleteReceiver {
  font-size: 10px;
  cursor: pointer;
}

.deleteReceiver:hover {
  opacity: 0.6;
}