@font-face {
    font-family: "SegoeUIBold";
    src: url("./SegoeUI/segoeuib.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUISemiBold";
    src: url("./SegoeUI/seguisb.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("./SegoeUI/segoeui.ttf");
    font-style: normal;
    font-weight: normal;
}