.card {
    background:#eeeeee;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.20);
    border-radius:2px;
    margin: 16px 0 0 16px;
    padding: 16px;
    color:#212121;
    font-size: 14px;
    box-sizing: border-box;
}

.cardTitle {
    font-family:SegoeUIBold;
    font-size:16px;
    padding-bottom: 16px;
}