.smallCard {
  width: 287px;
  padding-bottom: 36px;
}

.enableTabs {
  margin-top: 0 !important;
}

.alertDescription {
  margin: 16px 0;
  line-height: 16px;
}

.rangeBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.inputLabel {
  display: block;
  width: 100%;
}

.rangeInput {
  width: 181px;
}

.maxLimit {
  width: 43px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 181px;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #d81e05;
  margin-top: -6px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

label.rangeValueLabel {
  position: absolute;
  bottom: -15px;
  left: 36px;
}