.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  background: #fafafa;
  color: #212121;
  height: 48px;
  padding: 0 23px;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

.headTitle {
  display: flex;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  display: block;
  background: #d81e05;
  border-radius: 100%;
  margin-right: 7px;
}

.headTitleName {
  font-family: SegoeUIBold;
  font-size: 18px;
  color: #212121;
}

.headUser {
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin: 0 9px 0 12px;
}

.userName {
  font-family: SegoeUiSemiBold;
  font-size: 16px;
}

.userRole {
  font-size: 12px;
  text-align: right;
}

.signOut {
  text-decoration: none;
  font-size: 12px;
  color: #d81e05;
  line-height: 12px;
}